.site-layout {
  overflow: hidden;
}

.site-layout-background {
  background: #fff;
  padding: 0 0 30px 0;
  min-height: 360px;
  overflow: scroll;
}

.top-info {
  font-size: 12px;
  margin: 0px auto;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  height: 40px;
  padding: 10px 0;
}

.reload-button {
  font-size: 10px;
  height: 17px;
  font-weight: bold;
  width: 80px;
}

.crypto-logo {
  max-height: 30px;
  margin-right: 20px;
}

.footer {
  border-top: 1px solid #ccc;
  text-align: center;
  margin: 0 0 10px 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
}

.profile-icons {
  color: black;
  font-size: 20px;
  padding:0 5px;
}